rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        function hasTimestamp(field) {
            return request.resource.data[field] == request.time;
        }

        function isAuthenticated(id) {
            return request.auth != null && request.auth.uid == id;
        }

        function affectedKeys() {
            return request.resource.data.diff(resource.data).affectedKeys();
        }

        function isStudent() {
            return request.auth != null && request.auth.token.firebase.sign_in_provider == 'anonymous';
        }

        function isTeacher() {
            return request.auth != null && request.auth.token.email_verified;
        }

        function getStudent(uid) {
            return get(/databases/$(database)/documents/students/$(uid));
        }

        function getTeacher(uid) {
            return get(/databases/$(database)/documents/teachers/$(uid));
        }

        function getSchool(id) {
            return get(/databases/$(database)/documents/schools/$(id));
        }

        function isStudentSchool(school, token) {
            let student = getStudent(request.auth.uid);
            return student != null && (student.data.school == school || student.data.token == token);
        }

        function isTeacherSchool(school) {
            let teacher = getTeacher(request.auth.uid);
            return teacher != null && teacher.data.school == school;
        }

        match /contests/{contest} {
            allow read: if request.auth != null;
        }

        match /schools/{school} {
            allow read: if isStudentSchool(school, resource.data.token) || isTeacherSchool(school);
            allow update: if isTeacherSchool(school);
        }

        match /students/{student} {
            function checkVariant(data) {
                let joined = [data.name, data.surname, data.birthData, data.school, data.classYear, data.classSection].join('$');
                return data.variant == hashing.sha256(joined).toHexString()[0: 3];
            }

            function checkToken(school) {
                return school != null
                    && school.data.token != null
                    && school.data.token == request.resource.data.token;
            }

            function canStudentCreate() {
                let school = getSchool(request.resource.data.school);
                return isAuthenticated(student)
                    && (school == null || checkToken(school))
                    && checkVariant(request.resource.data);
            }

            function canBeUpdated() {
                let keys = affectedKeys();
                return !('createdAt' in keys)
                    && (!('school' in keys) || checkToken(getSchool(request.resource.data.token)))
                    && hasTimestamp('updatedAt');
            }

            allow read: if isAuthenticated(student) || isTeacherSchool(resource.data.school);
            allow create: if (canStudentCreate() || isTeacherSchool(request.resource.data.school)) /* TODO && hasTimestamp('createdAt') */;
            allow update: if (isAuthenticated(student) || isTeacherSchool(resource.data.school)) && canBeUpdated();
        }

        match /submissions/{submission} {
            function isMyStudentSubmission(uid) {
                let student = getStudent(uid);
                return student != null && isTeacherSchool(student.data.school);
            }

            allow read: if isAuthenticated(resource.data.uid) || isMyStudentSubmission(resource.data.uid);
            allow create: if (isAuthenticated(request.resource.data.uid) || isMyStudentSubmission(request.resource.data.uid)) && hasTimestamp('submittedAt');
        }

        match /teachers/{teacher} {
            allow read: if isAuthenticated(teacher);
        }

        match /variants/{variant} {
            function isMyVariant(variant) {
                let student = getStudent(request.auth.uid);
                return student != null
                    && student.data.variant == variant
                    && isMyContestStarted(student.data);
            }

            function isMyContestStarted(student) {
                let school = getSchool(student.school);
                return school != null
                    && school.data.startingTime != null
                    && school.data.startingTime <= request.time;
            }

            allow read: if isMyVariant(variant) || isTeacher();
        }
    }
}
