code.block-code,
code.inline-code {
  color: #abb2bf;
}

code.block-code {
  background-color: rgb(40 53 72);
}

.srs-syntax.alert {
  color: white;
  background-color: #d84d4d;
}

.srs-syntax.comment {
  color: #5c6370;
}

.srs-syntax.keyword {
  color: #c678dd;
}

.srs-syntax.type {
  color: #e6c07b;
}

.srs-syntax.value {
  color: #f47067;
}

.srs-syntax.var {
  color: #d18666;
}
