@media screen and (prefers-color-scheme: light) {
  @import (inline) "highlight.js/styles/panda-syntax-light.css";
}

@media screen and (prefers-color-scheme: dark) {
  @import (inline) "highlight.js/styles/panda-syntax-dark.css";
}

.hljs-operator.small_ {
  display: inline-block;
  transform: scale(1.25);
}

@media screen {
  .hljs-meta.missing_ {
    color: white;
    font-weight: bold;
    background-color: #d84d4d;
    border-radius: 2px;
    padding: 1px 2px;
  }
}
