@import "code-theme.less";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-y-hidden;
}

body {
  @apply min-w-[360px];
}

.katex-mathml {
  @apply select-none;
}

.katex-display .katex-html {
  @apply overflow-auto pb-3;
}

.highlight-border {
  @apply border border-white/5 shadow-xl outline outline-1 outline-black/5;
}

.tooltip:hover:before,
.tooltip:hover:after {
  @apply delay-300;
}

.tooltip:before,
.tooltip:after {
  @apply z-30;
}

.ag-theme-quartz-auto-dark {
  --ag-background-color: theme(colors.base-100) !important;
  --ag-header-background-color: theme(colors.base-100) !important;
  --ag-control-panel-background-color: theme(colors.base-100) !important;
  --ag-foreground-color: theme(colors.base-content) !important;
}

.ag-header-cell,
.ag-cell {
  --ag-cell-horizontal-padding: 0.5rem;
}

code {
  @apply !bg-transparent !px-0.5 !font-normal;
}

code::before,
code::after {
  @apply !content-none;
}

pre {
  @apply !bg-base-200 !pl-5 !text-base-content print:!px-0;
}

label pre {
  @apply !my-2 border border-base-content !p-3;
}

pre code {
  @apply block;
}

pre code > span {
  @apply block min-w-fit rounded py-px pr-4 hover:bg-base-300 print:whitespace-pre-wrap;
}

pre code .linenumber {
  @apply mx-2;
}
