@import "npm:katex/dist/katex.css";
@import "./ui/srs.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-slate-800;
  @apply min-w-[320px];
}

img {
  @apply dark:bg-white;
  @apply rounded-xl p-4;
  @apply mx-auto;
  @apply max-w-full;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

.answer p {
  @apply my-1;
}

.katex-display .katex-html {
  @apply overflow-auto;
  @apply pb-3;
}
